COMMERCE_PROVIDER=ordercloud

ORDERCLOUD_BUYER_CLIENT_ID=
ORDERCLOUD_MIDDLEWARE_CLIENT_ID=F8D4C3EB-E889-4914-A227-6590A63EA4EA
ORDERCLOUD_MIDDLEWARE_CLIENT_SECRET=djqL6XNDwj2gfIv0vDRfzMSuwEBHXiHlLwm1mNy2qYJn1a6faYAXC3828Ezt
STRIPE_SECRET=sk_test_51RVuR2P7ZX2ja10XzaFYLGBlX0xWkw1XE8wvcDG2sIVJLC6xXeiZbQ0neOpOM1kBCnbClzhIw6d4NAOoNbSOWXDs00DAWFgOj8
